::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}



#Menus{
    border: 1px solid black;
    border-radius: 7px;
    background-color:  rgba(246, 247, 248, 0.082);


    width: 350px;
    height: 19rem;
    font-size: 20px;
    margin: 0%;
    margin-right: 61px;
    margin-bottom: 20px;
    display:flex;
    padding: 10px;
    color:white;



}
#second_2{
    white-space:nowrap;
    overflow-x:auto;
    display:flex;


}

#Menus1{
    flex: auto;
    display:flex;
}

#PlusMa{
    width: 90%;
    margin: 0px auto;
    display: flex;

}

#Plus {
    width: 50px;
    height: 50px;
    border: 2px solid ;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 20px;

}

#Count{
    flex:1;
    margin: 0px 5%;
    width:30%;
    box-sizing: border-box;
}

#Minus{
    width: 50px;
    height: 50px;
    border: 2px solid ;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 20px;

}

.box {
    position: relative;
    width: 300px; height: 200px;
    border: 0px solid;
}

.box .introduce {
    color: #fff;
    position: absolute; left: 0; bottom: 0;
    background: rgba(85, 84, 84, 0.692);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.35s ease-in-out;

}
.box:hover .introduce {
    opacity: 1;
}
.box .introduce h3 {
    font-size: 23px;
    padding-bottom: 0.4em;
    overflow:hidden;
}
.box .introduce p {
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}